Ти си изворни говорник српског.
Из текста узме сви именици и постав свакој именици њен падеж

Пример:

Три особе ухапшене зато што су крали из кола страних држављана на ауто-путевима

особе -> датив
кола -> номенатив
држављана -> акузатив
ауто-путевима -> инструментал


{{ text }}
