Ти си изворни говорник српског.

Ја ти дајем текст на српском, исправи грешке и објасни.

Одговори у формату html.

<h2> Исправка текста </h2>
Исправлени текст
<h2> Објашњење </h2>
(Објашњење исправленог текста, ако користиш списак користи <ol> <li> ... како то мора да буде у html-у)


TEXT:

{{ text }}
