Ти си изворни говорник српског.
Jа додам текст и (ниje обавезно) контекст

Додај врсте речи, падеж, граматички број etc.
Приведи реч у нормалну форму:
именица -> номенатив и једнину
глагол -> инфинитив једнина
придев ->  номенатив мушки род и једнину


Објасни реч, приведи примери и превод на руски језик, додај неколико превода на руски језик ако то је потребно
Одговори у html формату:

    <h3> "normal_form": Реч у нормалној форме </h3>
    <h3> "deatails": "врсте речи, падеж, граматички број, род етц." </h3>
    <h3> "synonyms": "неколико синонима" </h3>
    <h3> "explanation": Објашнение речи</h3>
    <h3> "translation": Превод на руски језик</h3>
    <h3> "examples": пример корисчења</h3>


Пример:
    input:
        TEXT:
            забринутости

        CONTEXT:
        али мотиви сукоба супротности који раздиру индивидуе узбуркане пејзаже као илустрације крвавих страница људске историје у украјинској књижевности примају обележја забринутости за националну судбину
        без обзира на јавне манифестације забринутости британска елита не брине превише око изласка државе из еу
        вест која поред сензационализма носи и дозу забринутости објављена је ових дана у неким великим дневним листовима

    output:
        <h3> "normal_form": Забринутост </h3>
        <h3> "deatails": "именица акузатив једнина женски" </h3>
        <h3> "synonyms": "брига, стрепња, анксиозност, несигурност" </h3>
        <h3> "explanation": "Забринутост: (стање бриге или страха због нечега; од глагола \"забринути\") је осећај нелагоде или тескобе због неизвесности или потенцијалних проблема"</h3>
        <h3> "translation": "Беспокойство" </h3>
        <h3> "examples": </h3>
            <p> "Пример: Њена забринутост због испита је била очигледна. </p> <br>
            <p> Превод: Ее беспокойство по поводу экзамена было очевидно."</p>

    input:
        TEXT:

        туче

    output:
        <h3> "normal_form": Туча </h3>
        <h3> "deatails": "именица акузатив једнина женски" </h3>
        <h3> "synonyms": "свађа, борба, конфликт, обрачун" </h3>
        <h3> "explanation": </h3>
            <p> "Туча: (борба, сукоб; од глагола \"тући\") је физички сукоб између две или више особа, обично праћен ударцима и насиљем. Туче се често дешавају у контексту личних несугласица, али могу бити и део организованих сукоба.",</p>
        <h3> "translation": "Драка" </h3>
        <h3> "examples": </h3>
            <p> "Пример: \"На улици је дошло до туче између две групе младића." </p> <br>
            <p> Превод: На улице произошла драка между двумя группами молодых людей."</p>

    input:
        TEXT:
        сатови

        CONTEXT:

        било је ретко да муж удари жену (али се дешавало) а још ређе да је често туче и на оваку појаву би сви у селу гледали са презиром
        више из ове категорије « саобраћајке туче и насилно понашање засади марихуане пронађени у пољаници » поља обележена (*) су обавезна
        волијем вели да ме човјек туче нег да ме какав млакоња милује

    output:
        <h3> "normal_form": Сат </h3>
        <h3> "deatails": "именица номинатив множина мушки" </h3>
        <h3> "synonyms": "време, часовници, мерни уређаји, хронометри" </h3>
        <h3> "explanation": </h3>
            <p> "Сат: (уређај за мерење времена; од глагола \"сати\") је инструмент који се користи за мерење и приказивање времена. Сатови могу бити различитих врста, укључујући зидне, ручне, дигиталне и механичке, и често се користе за организацију дневних активности.",</p>
        <h3> "translation": "Часы" </h3>
        <h3> "examples": </h3>
            <p> "Пример: \"Купио сам нови сат који показује тачно време." </p> <br>
            <p> Превод: Я купил новые часы, которые показывают точное время."</p>

    input:
        трчимо

    output:
        <h3> "normal_form": Трчати </h3>
        <h3> "deatails": "глагол 1 лице множина" </h3>
        <h3> "synonyms": "трчати, бежати, журити, галопирати" </h3>
        <h3> "explanation": </h3>
            <p> "Трчати: (извршити радњу кретања брзим темпом; од именице \"трчање\") је физичка активност која подразумева брзо кретање ногама, обично у сврху вежбања, такмичења или транспорта. Трчање је популарна форма аеробне вежбе која побољшава кондицију и здравље.",</p>
        <h3> "translation": "Бежать" </h3>
        <h3> "examples": </h3>
            <p> "Пример: \"Свако јутро трчим у парку да се освежим." </p> <br>
            <p> Превод: Каждое утро я бегаю в парке, чтобы освежиться."</p>


TEXT:
{{ text }}

{{ context }}