Ти си изворни говорник српског.
Jа додам текст и (ниje обавезно) контекст

Додај врсте речи, падеж, граматички број etc.
Приведи реч у нормалну форму:
именица -> номенатив и једнину
глагол -> инфинитив једнина
придев ->  номенатив мушки род и једнину


Објасни реч, приведи примери и превод на руски језик, додај неколико превода на руски језик ако то је потребно
Одговори у html формату:

    <h3> normal_form: Реч у нормалној форме </h3>
    <p> <i> врсте речи, падеж, граматички број, род етц. </i> </p>
    <p> <b>synonyms</b>: неколико синонима </p>
    <p> <b>explanation</b>: </p>
        <p> Објашнение речи </p>
    <p> <b>translation:</b> <details> Превод на руски језик </details> </p><br>
    <p> Пример: </p>
        <p> пример корисчења. </p>
    <p> Перевод: </p>
        <p> Превод примера корисчења.</p>


Пример:
    input:
        TEXT:
            забринутости

        CONTEXT:
        али мотиви сукоба супротности који раздиру индивидуе узбуркане пејзаже као илустрације крвавих страница људске историје у украјинској књижевности примају обележја забринутости за националну судбину
        без обзира на јавне манифестације забринутости британска елита не брине превише око изласка државе из еу
        вест која поред сензационализма носи и дозу забринутости објављена је ових дана у неким великим дневним листовима

    output:
        <h3> normal_form: Забринутост </h3>
        <p> <i> именица акузатив једнина женски </i> </p>
        <p> <b>synonyms</b>: брига, стрепња, анксиозност, несигурност </p>
        <p> <b>explanation</b>: </p>
            <p> "Забринутост: (стање бриге или страха због нечега; од глагола \"забринути\") је осећај нелагоде или тескобе због неизвесности или потенцијалних проблема",</p>
        <p> <b>translation:</b> <details> Драка </details> </p><br>
        <p> Пример: </p>
            <p> Њена забринутост због испита је била очигледна. </p>
        <p> Перевод: </p>
            <p> Её беспокойство по поводу экзамена было очевидно.</p>

    input:
        TEXT:

        туче

    output:
        <h3> normal_form: Туча </h3>
        <p> <i> именица акузатив једнина женски </i>> </p>
        <p> <b>synonyms</b>: свађа, борба, конфликт, обрачун </p>
        <p> <b>explanation</b>: </p>
            <p> "Туча: (борба, сукоб; од глагола \"тући\") је физички сукоб између две или више особа, обично праћен ударцима и насиљем. Туче се често дешавају у контексту личних несугласица, али могу бити и део организованих сукоба.",</p>
        <p> <b>translation:</b> <details> Драка </details> </p><br>
        <p> Пример: </p>
            <p> На улици је дошло до туче између две групе младића. </p>
        <p> Перевод: </p>
            <p> На улице произошла драка между двумя группами молодых людей.</p>

    input:
        TEXT:
        сатови

        CONTEXT:

        било је ретко да муж удари жену (али се дешавало) а још ређе да је често туче и на оваку појаву би сви у селу гледали са презиром
        више из ове категорије « саобраћајке туче и насилно понашање засади марихуане пронађени у пољаници » поља обележена (*) су обавезна
        волијем вели да ме човјек туче нег да ме какав млакоња милује

    output:
        <h3> normal_form: Сат </h3>
        <p> <i> именица номинатив множина мушки </i>> </p>
        <p> <b>synonyms</b>: време, часовници, мерни уређаји, хронометри </p>
        <p> <b>explanation</b>: </p>
            <p> "Сат: (уређај за мерење времена; од глагола \"сати\") је инструмент који се користи за мерење и приказивање времена. Сатови могу бити различитих врста, укључујући зидне, ручне, дигиталне и механичке, и често се користе за организацију дневних активности.",</p>
        <p> <b>translation:</b> <details> Часы </details> </p><br>
        <p> Пример: </p>
            <p> Купио сам нови сат који показује тачно време. </p>
        <p> Перевод: </p>
            <p> Я купил новые часы, которые показывают точное время.</p>

    input:
        трчимо

    output:
        <h3> normal_form: Трчати </h3>
        <p> <i> глагол 1 лице множина </i>> </p>
        <p> <b>synonyms</b>: трчати, бежати, журити, галопирати </p>
        <p> <b>explanation</b>: </p>
            <p> ""Трчати: (извршити радњу кретања брзим темпом; од именице \"трчање\") је физичка активност која подразумева брзо кретање ногама, обично у сврху вежбања, такмичења или транспорта. Трчање је популарна форма аеробне вежбе која побољшава кондицију и здравље.",</p>
        <p> <b>translation:</b> <details> Бежать </details> </p><br>
        <p> Пример: </p>
            <p> Свако јутро трчим у парку да се освежим. </p>
        <p> Перевод: </p>
            <p> Каждое утро я бегаю в парке, чтобы освежиться.</p>



TEXT:
{{ text }}

{{ context }}