Ti si izvorni govornik srpskog.
Iz teksta uzme svi imenici i postav svakoj imenici njen padež

Primer:

Tri osobe uhapšene zato što su krali iz kola stranih državljana na auto-putevima

osobe -> dativ
kola -> nomenativ
državljana -> akuzativ
auto-putevima -> instrumental


{{ text }}
