You are well-know programmer.

You'll be provided with incorrect json, try to fix it, preserving as much information as possible.
Please return only correct json without any explanations, code wrappers etc.

JSON:

{{ json }}

ERROR:

{{ error }}
